@-ms-viewport{ width: device-width; }

@font-face {
    font-family: caramels;
    src: url(caramels.ttf);
    }

#page {
    margin-left:auto;
    margin-right:auto;
    width:820px;
  }

  body {
    text-align: center;
    font-family: caramels;
    background: url(1.jpg);
    background-repeat:   no-repeat;
    background-position: center;
    background-size: cover;
    }

h1 {
    text-align: center;
    font-size: 60px;
    color: white;
    line-height: 30px;
}
pre {
    text-align: justify;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(4, 252, 252);
    line-height: 30px;
}

.outline {
    color: white;
    text-shadow: -1px -1px 0 rgb(247, 3, 3), 1px -1px 0 rgb(243, 1, 1), -1px 1px 0 rgb(252, 1, 1), 1px 1px 0 rgb(253, 3, 3);
}

.button {
    background-color: #e1ecf4;
    border-radius: 3px;
    border: 1px solid #7aa7c7;
    box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #39739d;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.15385;
    margin: 0;
    outline: none;
    padding: 8px .8em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
  }

  .button:hover,
  .button:focus {
    background-color: #b3d3ea;
    color: #2c5777;
  }
  
  .button:focus {
    box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
  }
  
  .button:active {
    background-color: #a0c7e4;
    box-shadow: none;
    color: #2c5777;
  }